@using CW_Nelya_Vika.Models

@model List<Problem>

@{
    ViewBag.Title = "OtputResult";
}


<div class="container body-content">
    <h2>Результати</h2>
    <div class="jumbotron">
        @using (Html.BeginForm("ShowResult", "OutputResult", FormMethod.Post))
        {
        <table class="table">
            <thead>
            <tr>
                <th>Обрати:</th>
                <th>ResultId</th>
                <th>GraphId</th>
                <th>Кількість вершин</th>
                <th>Кількість ребер</th>
                <th>Кількість розбиттів</th>
                <th>Інтервал</th>
                <th>Алгоритм</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var result in Model)
            {
                <tr>
                    <td>@Html.RadioButton("ResultId", result.Id, true)</td> 
                    <td>@result.Id</td>
                    <td>@result.Graph.Id</td>
                    <td>@result.Graph.Vertices.Count</td>
                    <td>@result.Graph.Edges.Count</td>
                    <td>@result.Graph.CommunityCount</td>
                    <td>@result.Graph.MinCountInSubgraph - >@result.Graph.MaxCountInSubgraph</td>

                    @switch ((int)result.Algorithm)
                    {
                        case 0:
                            <td>Кернігана-Ліна</td>
                            break;
                        case 1:
                            <td>Гірвана-Ньюмана</td>
                            break;
                    }
                </tr>
            }
            </tbody>
        </table>

        <button class="btn btn-primary center-block" type="submit">Показати граф</button>
}
        <br />
    </div>


</div>
