@using CW_Nelya_Vika.Models

@model List<Problem>

@{
    ViewBag.Title = "OtputResult";
}

<h2>Результати</h2>

<div class="container body-content">
    <h2>Результати</h2>
    {
    <div class="jumbotron">
        
        <table class="table">
            <thead>
                <tr>
                    <th>Обрати:</th>
                    <th>ResultId</th>
                    <th>GraphId</th>
                    <th>Кількість вершин</th>
                    <th>Кількість ребер</th>
                    <th>Кількість розбиттів</th>
                    <th>Інтервал</th>
                    <th>Алгоритм</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model)
                {
                <tr>
                    <td>@Html.RadioButton("ResultId", result.Id)</td> 
                    <td>@result.Id</td>
                    <td>@result.Graph.Id</td>
                    <td>@result.Graph.Vertices.Count</td>
                    <td>@result.Graph.Edges.Count</td>
                    <td>@result.Graph.CommunityCount</td>
                    <td>@result.Graph.MinCountInSubgraph - >@result.Graph.MaxCountInSubgraph</td>
                    <td>@result.Algorithm.ToString()</td>
                </tr>
                }
            </tbody>
        </table>
        <br />
    </div>


    <button class="btn btn-primary center-block" type="submit">Відобразити розбиття</button>
    }

</div>
