
@{
    ViewBag.Title = "OutputEditGraph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OutputEditGraph</h2>

<p>Відобразити граф</p>


@using (Html.BeginForm("Solve", "ProblemGenerator", FormMethod.Post))
{
    <h3>Зчитати з файлу</h3>
   
    <h3> @Html.RadioButton("GenerationType", "Generate") Згенерувати</h3>

    <p>Оберіть розмірність задачі:</p>
    <p>@Html.RadioButton("GraphClassification", "XS") XS </p>
    <p>@Html.RadioButton("GraphClassification", "S") S </p>
    <p>@Html.RadioButton("GraphClassification", "M") M </p>
    <p>@Html.RadioButton("GraphClassification", "L") L </p>
    <p>@Html.RadioButton("GraphClassification", "XL") XL </p>
    <br />

    <p><input type="submit" value="Створити граф" /></p>
}