@using CW_Nelya_Vika.Models;

@model List<Graph>
@{
    ViewBag.Title = "ProblemGenerator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.getElementById("generator-form");
        form.addEventListener("submit", validate);
    });

    function validate(e) {
        if (validateCommunityCount() &&
            //validateMinCommunityCount() &&
            //validateMaxCommunityCount() &&
            validateMinMaxWeight()) {

        } else {
            e.preventDefault();
        }
    };

    function validateCommunityCount() {
        document.getElementById("communityCountError").innerHTML = "";

        var x = document.getElementById("communityCount").value;
        if (parseInt(x) <= 0) {
            document.getElementById("communityCountError").innerHTML = "Не може бути менше нуля";
            return false;
        }

        var radioButtonOption = 5;
        if (document.getElementById("5").checked)
            radioButtonOption = 5;
        if (document.getElementById("10").checked)
            radioButtonOption = 10;
        if (document.getElementById("15").checked)
            radioButtonOption = 15;
        if (document.getElementById("20").checked)
            radioButtonOption = 20;
        if (document.getElementById("25").checked)
            radioButtonOption = 25;

        if (parseInt(x) > radioButtonOption) {
            document.getElementById("communityCountError").innerHTML = "Кількість розбиттів не може бути більша за кількість вершин";
            return false;
        }
        document.getElementById("communityCountError").innerHTML = "";
        return true;

    };

    function validateMinCommunityCount() {
        document.getElementById("minCommunityCountError").innerHTML = "";
        var x = document.getElementById("minCommunityCount").value;
        if (x < 0) {
            document.getElementById("minCommunityCountError").innerHTML = "Не може бути менше нуля";
            return false;
        }
        var radioButtonOption = 5;
        if (document.getElementById("5").checked)
            radioButtonOption = 5;
        if (document.getElementById("10").checked)
            radioButtonOption = 10;
        if (document.getElementById("15").checked)
            radioButtonOption = 15;
        if (document.getElementById("20").checked)
            radioButtonOption = 20;
        if (document.getElementById("25").checked)
            radioButtonOption = 25;

        if (parseInt(x) >= radioButtonOption) {
            document.getElementById("minCommunityCountError").innerHTML = "Не може бути більша за кількість вершин";
            return false;
        }
        document.getElementById("minCommunityCountError").innerHTML = "";
        return true;
    };

    function validateMaxCommunityCount() {
        document.getElementById("maxCommunityCountError").innerHTML = "";
        document.getElementById("minMaxCommunityCountError").innerHTML = "";
        var x = document.getElementById("maxCommunityCount").value;
        if (x < 0) {
            document.getElementById("maxCommunityCountError").innerHTML = "Не може бути менше нуля";
            return false;
        }

        var radioButtonOption = 5;
        if (document.getElementById("5").checked)
            radioButtonOption = 5;
        if (document.getElementById("10").checked)
            radioButtonOption = 10;
        if (document.getElementById("15").checked)
            radioButtonOption = 15;
        if (document.getElementById("20").checked)
            radioButtonOption = 20;
        if (document.getElementById("25").checked)
            radioButtonOption = 25;

        if (parseInt(x) >= radioButtonOption) {
            document.getElementById("maxCommunityCountError").innerHTML = "Не може бути більша за кількість вершин";
            return false;
        }

        var minCommCount = document.getElementById("minCommunityCount").value;

        if (minCommCount > x) {
            document.getElementById("minMaxCommunityCountError").innerHTML = "Мінімальна кількість вершин в підграфах не може бути більшою за максимальну.";
            return false;
        }
        document.getElementById("maxCommunityCountError").innerHTML = "";
        document.getElementById("minMaxCommunityCountError").innerHTML = "";
        return true;
    }

    function validateMinMaxWeight() {
        document.getElementById("minMaxWeightError").innerHTML = "";
        var min = parseInt(document.getElementById("minWeight").value);
        var max = parseInt(document.getElementById("maxWeight").value);
        if (min < 1) {
            document.getElementById("minMaxWeightError").innerHTML = "Нижня границя не може бути менше 1";
            return false;
        }
        if (max > 100) {
            document.getElementById("minMaxWeightError").innerHTML = "Верхня границя не може бути більше 100";
            return false;
        }
        if (max < min) {
            document.getElementById("minMaxWeightError").innerHTML = "Верхня границя не може бути меншою за нижню";
            return false;
        }

        document.getElementById("minMaxWeightError").innerHTML = "";
        return true;
    };
</script>

<div class="container body-content">
    <h2>Створити задачу</h2>
    @using (Html.BeginForm("ReadFromFile", "ProblemGenerator", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="jumbotron">
            <h3> Зчитати з файлу:</h3>
            <p><input type="file" name="file" /></p>
            <br />
            @ViewBag.FileError
            <button class="btn btn-primary center-block" type="submit" value="Upload">Зчитати граф з файлу</button>
            <br />
        </div>
    }

    @using (Html.BeginForm("Generate", "ProblemGenerator", FormMethod.Post, new { id = "generator-form" }))
    {
        <div class="jumbotron">
            <h3> Згенерувати:</h3>

            <p>Оберіть розмірність задачі:</p>
            <p>@Html.RadioButton("GraphClassification", "XS", true, new { @id = "5" }) XS: 5 вершин  </p>
            <p>@Html.RadioButton("GraphClassification", "S", false, new { @id = "10" }) S: 10 вершин </p>
            <p>@Html.RadioButton("GraphClassification", "M", false, new { @id = "15" }) M: 15 вершин </p>
            <p>@Html.RadioButton("GraphClassification", "L", false, new { @id = "20" }) L: 20 вершин </p>
            <p>@Html.RadioButton("GraphClassification", "XL", false, new { @id = "25" }) XL: 25 верши</p>
            <p>
                Введіть кількість підграфів: <input type="number" id="communityCount" name="communityCount"
                                                    onChange="validateCommunityCount()" required />
                <text id="communityCountError" style="color: red;"></text>
            </p>
            <p>
                Введіть мінімальне значення ваг ребер (не менше 1): 
                <input type="number" id="minWeight" name="minWeight"
                       onChange="validateMinMaxWeight()" required />
            </p>
            <p>
                Введіть максимальне значення ваг ребер (не більше 100): 
                <input type="number" id="maxWeight" name="maxWeight"
                       onChange="validateMinMaxWeight()" required />

            </p>
            <p><text id="minMaxWeightError" style="color: red;"></text></p>

            @*<p>
            Введіть мінімальну кількість вершин у підграфі: <input type="number" id="minCommunityCount" name="minCommunityCount"
                                                                   onChange="validateMinCommunityCount()" required />
            <text id="minCommunityCountError" style="color: red;"></text>
        </p>
        <p>
            Введіть максимальну кількість вершин у підграфі: <input type="number" id="maxCommunityCount" name="maxCommunityCount"
                                                                    onChange="validateMaxCommunityCount()" required />
            <text id="maxCommunityCountError" style="color: red;"></text>

        </p>
        <p><text id="minMaxCommunityCountError" style="color: red;"></text></p>*@
            <br />
            <button class="btn btn-primary center-block" type="submit"
                    onclick="validate()">
                Згенерувати граф
            </button>
            <br />
        </div>

    }
    @using (@Html.BeginForm("ReadFromDb", "ProblemGenerator", FormMethod.Post))
    {
        <div class="jumbotron">
            <h3> Обрати з бази даних:</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>Обрати:</th>
                        <th>Id</th>
                        <th>Кількість вершин</th>
                        <th>Кількість ребер</th>
                        <th>Кількість розбиттів</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var graph in Model)
                    {
                        <tr>
                            <td>@Html.RadioButton("GraphId", graph.Id, true)</td>
                            <td>@graph.Id</td>
                            <td>@graph.Vertices.Count</td>
                            <td>@graph.Edges.Count</td>
                            <td>@graph.CommunityCount</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />

            <button class="btn btn-primary center-block" type="submit">Зчитати граф з бази даних</button>
            <br />
        </div>
    }

</div>
