
@{
    ViewBag.Title = "ProblemGenerator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <h2>Згенерувати задачу</h2>

    <div class="panel-body"></div>
    @using (Html.BeginForm("Generate", "ProblemGenerator", FormMethod.Post))
    {
        <h3 class="panel-heading"> @Html.RadioButton("GenerationType", "ReadFromFile") Зчитати з файлу</h3>
        <input type="file" name="file" />
        <br />
        <h3> @Html.RadioButton("GenerationType", "Generate") Згенерувати</h3>

        <p>Оберіть розмірність задачі:</p>
        <p>@Html.RadioButton("GraphClassification", "XS") XS </p>
        <p>@Html.RadioButton("GraphClassification", "S") S </p>
        <p>@Html.RadioButton("GraphClassification", "M") M </p>
        <p>@Html.RadioButton("GraphClassification", "L") L </p>
        <p>@Html.RadioButton("GraphClassification", "XL") XL </p>
        <br />

        <button class="btn btn-primary center-block" type="submit">Створити граф</button>
    }

</div>